version: "3.7"
services:
  db:
    container_name: db
    image: mongo:5.0.6
    environment:
      - MONGO_INITDB_DATABASE=store
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=root
    networks:
      - api_network
    volumes:
      - dbstore:/data/db
      - ./back/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
  mongo-admin:
    container_name: mongo-admin
    restart: always
    image: mongo-express:0.54
    depends_on:
      - db
    environment:
      - ME_CONFIG_MONGODB_SERVER=db
      - ME_CONFIG_MONGODB_ADMINUSERNAME=root
      - ME_CONFIG_MONGODB_ADMINPASSWORD=root
      - ME_CONFIG_MONGODB_AUTH_DATABASE=store
      - ME_CONFIG_BASICAUTH_USERNAME=toor
      - ME_CONFIG_BASICAUTH_PASSWORD=toor
    ports:
      - 8000:8081
    volumes:
      - dbstore:/data/db
    networks:
      - api_network
  api:
    container_name: api-server
    restart: always
    build: ./back
    depends_on:
      - db
    environment:
      - API_DB_DSN=mongodb://root:root@db:27017/store?authSource=admin
    ports:
      - 3000:3000
    networks:
      - api_network
  web:
    container_name: web-server
    restart: always
    build: ./front
    networks:
      - api_network
    ports:
      - 8080:80
networks:
  api_network:
    driver: bridge
volumes:
  dbstore: